html
    head
        title 'Products List'
    body
        ul
            for product in products
                li Product Name: #{product.title}, Price: #{product.price}
        a(href='/') Add New Product